* {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
}

ul a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    border-right: 1px solid rgb(90, 173, 255);
}

ul a:hover {
    background-color: rgb(1, 128, 255);
}